{% load static %}
<!DOCTYPE html>
<html lang="en" style="min-height: 100vh">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title> Default Title</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'fruitsApp/base2_css.css' %}"> </link>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">

            <div id="top-padding">
                <ul class="top-nav-bar">
                        <li><a href="{% url 'admin:index' %}" onclick="" >admin</a></li>
                </ul>
            </div>

            <div class="top-logo">
                <center>
                    <div>
                        <h1 id="page-header-text">Fresh Fruits</h1>
                    </div>
                </center>
                <ul class="nav-bar">
                        <li><a href="#" onclick="" >Home</a></li>
                        <li><a href="#" onclick="" >Product</a></li>
                        <li><a href="#" onclick="" >About Us</a></li>
                        <li><a href="#" onclick="" >Contact Us</a></li>
                </ul>
            </div>

            <div class="clearfix">
            {% for fruit in fruits %}
                    <div class="image-container"><img src="{% static '' %}{{ fruit.photo }}" height="180" style="width:100%"/>
                        <div class="priceandname">
                            <center>
                                <span>{{ fruit.name }}</span><br/>
                                <span>£</span>{{ fruit.price }}<br />
                                    <form action="{% url 'cart:cart_add' fruit.id %}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                        <input type="submit" value="Add to cart">
                                    </form>
                            </center>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
            <div class="clearfix">
                    <div class="footer">
                        <div class="footer-text">
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                        </div>
                        <div class="footer-text">
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                        </div>
                        <div class="footer-text">
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                        </div>
                        <div class="footer-text">
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                            <p><a href="#">Ref Link to some other page</a></p>
                        </div>
                    </div>
            </div>
    </div>
</body>
</html>